@tailwind utilities;

@layer utilities {
  .max-h-unset {
    max-height: unset;
  }

  .safe-area-p-t {
    padding-top: env(safe-area-inset-top);
    /*padding-top: 40px;*/
  }

  .safe-area-p-b {
    padding-bottom: env(safe-area-inset-bottom);
    /*padding-bottom: 20px;*/
  }
}
